apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
spec:
   replicas: 1
   selector:
      matchLabels:
         app: auth-service
   template:
      metadata:   
         labels:
            app: auth-service
      spec:
         containers:
         -  name: auth-docker-container
            image: hondocker23/auth-service:2025-09-16-0940
            ports:
            - containerPort: 2025
            env:
            - name: SECRET_KEY
              value: "h8fG7yxQ4s9K2zVmB6rW1pL0eN5tYqJ3"