fastapi
uvicorn
starlette
pydantic
typing_extensions
python-dotenv
SQLAlchemy
psycopg2-binary
vertexai
google-cloud-aiplatform
langchain
langchain-google-vertexai
langchain-text-splitters
langchain-community 
numpy 
